body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u286 {
  position:absolute;
  left:65px;
  top:361px;
  width:400px;
  height:711px;
}
#u287 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u288 {
  position:absolute;
  left:972px;
  top:361px;
  width:400px;
  height:711px;
}
#u289 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u290 {
  position:absolute;
  left:515px;
  top:361px;
  width:400px;
  height:711px;
}
#u291 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:145px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293 {
  position:absolute;
  left:135px;
  top:125px;
  width:900px;
  height:145px;
}
#u294 {
  position:absolute;
  left:2px;
  top:64px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:150px;
}
#u295 {
  position:absolute;
  left:135px;
  top:125px;
  width:5px;
  height:145px;
}
#u296 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u297 {
  position:absolute;
  left:148px;
  top:134px;
  width:874px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u300 {
  position:absolute;
  left:125px;
  top:1124px;
  width:163px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u302 {
  position:absolute;
  left:127px;
  top:1164px;
  width:276px;
  height:26px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u303 {
  position:absolute;
  left:8px;
  top:4px;
  width:268px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u304 {
  position:absolute;
  left:75px;
  top:1114px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u305 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u306 {
  position:absolute;
  left:303px;
  top:849px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u307 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u309 {
  position:absolute;
  left:573px;
  top:1124px;
  width:109px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u311 {
  position:absolute;
  left:575px;
  top:1164px;
  width:276px;
  height:26px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u312 {
  position:absolute;
  left:8px;
  top:4px;
  width:268px;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u313 {
  position:absolute;
  left:523px;
  top:1114px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u314 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u315 {
  position:absolute;
  left:570px;
  top:502px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u316 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u318 {
  position:absolute;
  left:1044px;
  top:1124px;
  width:73px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u320 {
  position:absolute;
  left:1046px;
  top:1164px;
  width:276px;
  height:62px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u321 {
  position:absolute;
  left:8px;
  top:4px;
  width:268px;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u322 {
  position:absolute;
  left:994px;
  top:1114px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u323 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u324 {
  position:absolute;
  left:999px;
  top:954px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u325 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
