body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1158px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u375 {
  position:absolute;
  left:711px;
  top:636px;
  width:1px;
  height:16px;
}
#u376 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u377 {
  position:absolute;
  left:721px;
  top:646px;
  width:1px;
  height:16px;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u379 {
  position:absolute;
  left:758px;
  top:215px;
  width:400px;
  height:711px;
}
#u380 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u382 {
  position:absolute;
  left:145px;
  top:363px;
  width:181px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u384 {
  position:absolute;
  left:147px;
  top:403px;
  width:500px;
  height:98px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u385 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u386 {
  position:absolute;
  left:95px;
  top:353px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u387 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u388 {
  position:absolute;
  left:898px;
  top:622px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u389 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:174px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  position:absolute;
  left:60px;
  top:36px;
  width:900px;
  height:174px;
}
#u392 {
  position:absolute;
  left:2px;
  top:79px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:150px;
}
#u393 {
  position:absolute;
  left:60px;
  top:36px;
  width:5px;
  height:145px;
}
#u394 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u395 {
  position:absolute;
  left:73px;
  top:45px;
  width:874px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u396 {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  word-wrap:break-word;
}
