body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1506px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:247px;
}
#u255 {
  position:absolute;
  left:84px;
  top:349px;
  width:800px;
  height:247px;
}
#u256 {
  position:absolute;
  left:2px;
  top:116px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:449px;
}
#u257 {
  position:absolute;
  left:61px;
  top:622px;
  width:871px;
  height:449px;
}
#u258 {
  position:absolute;
  left:2px;
  top:216px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:145px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u260 {
  position:absolute;
  left:84px;
  top:121px;
  width:900px;
  height:145px;
}
#u261 {
  position:absolute;
  left:2px;
  top:64px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:150px;
}
#u262 {
  position:absolute;
  left:84px;
  top:121px;
  width:5px;
  height:145px;
}
#u263 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u264 {
  position:absolute;
  left:97px;
  top:130px;
  width:874px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u267 {
  position:absolute;
  left:1004px;
  top:426px;
  width:289px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u269 {
  position:absolute;
  left:1006px;
  top:466px;
  width:500px;
  height:62px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u270 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u271 {
  position:absolute;
  left:954px;
  top:416px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u272 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u273 {
  position:absolute;
  left:761px;
  top:405px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u274 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u275 {
  position:absolute;
  left:84px;
  top:323px;
  width:127px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u278 {
  position:absolute;
  left:991px;
  top:679px;
  width:253px;
  height:22px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u280 {
  position:absolute;
  left:993px;
  top:719px;
  width:500px;
  height:26px;
  font-size:14px;
  color:#1E1E1E;
  line-height:18px;
}
#u281 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u282 {
  position:absolute;
  left:941px;
  top:669px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u283 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u284 {
  position:absolute;
  left:694px;
  top:795px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u285 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
